.login,
.image {
  min-height: 100vh;
}
.login{
  font-family: 'Lato', sans-serif;
  background-color: rgb(255, 255, 255);
}
.bg-image {
  background-image: url("./img/landing.jpg");
  background-size: cover;
  background-position: center center;
}

.formBox{
  border-radius: 40px;
  box-shadow: 0px 0px 20px -5px rgb(60, 106, 233);
}
